@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

hr {
  opacity: 0;
}

.main {
  margin-left: 50px;
  max-width: fit-content;
}

.password {
  margin-top: 20px;
  font-weight: bold;
}

.password-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

.fade-in-out {
  animation: fade-in-out 1s;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.range-bar {
  display: flex;
  margin-bottom: 25px;
  width: 400px;
  justify-content: space-between;
}

.length {
  font-size: 1.2rem;
  font-weight: 200;
  margin-right: 50px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
}

label {
  margin: 5px 0;
  max-width: fit-content;
}

input {
  cursor: pointer;
}

.input-label {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 8px;
}

.labels {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bottom-checkbox {
  font-size: 1rem;
}

.bottom-label {
  font-size: 1rem;
  font-weight: bold;
}

button {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 50px;
}

button:hover {
  background: #494949;
  color: white;
  transition: all ease 0.3s;
  cursor: pointer;
}

.password-section {
  padding-top: 50px;
  display: flex;
  gap: 10px;
}

.generated {
  font-weight: bold;
}
