@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.main {
  width: 960px;
}

.password {
  margin-top: 20px;
  font-weight: bold;
}

.password-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

.fade-in-out {
  animation: fade-in-out 1s;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.range-bar {
  display: flex;
  margin-bottom: 25px;
  width: 400px;
  justify-content: space-between;
}

.length {
  font-size: 1rem;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
}

label {
  margin: 5px 0;
  max-width: fit-content;
}

input {
  cursor: pointer;
}

.input-label {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 8px;
}

.labels {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bottom-checkbox {
  font-size: 1rem;
}

.bottom-label {
  font-size: 1rem;
  font-weight: bold;
}

button {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 50px;
}

button:hover {
  background: #494949;
  color: white;
  transition: all ease 0.3s;
  cursor: pointer;
}

.password-section {
  padding-top: 50px;
  display: flex;
  gap: 10px;
}

.generated {
  font-weight: bold;
}

.theme {
  display: flex;
  justify-content: end;
}

.dark-mode {
  background-color: #262626;
  color: #ffffff;
}

.light-mode {
  background-color: #ffffff;
  color: #262626;
}

.theme-toggle {
  width: 60px;
  height: 30px;
  background-color: #111;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  outline: none;
  transition: background-color 0.3s ease;
}

.theme-toggle.light {
  background-color: #ddd;
}

.circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #333;
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.theme-toggle.dark .circle {
  transform: translateY(-50%) translateX(30px);
  background-color: #fff;
}
